<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle} ?: 'BrainDeck'"></title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/new-set.js" defer></script>
</head>
<body>
<div class="main">
    <div class="main-left">&nbsp;</div>
    <div class="main-center">
        <div th:insert="~{fragment::header-menu}"></div>


        <div class="container-left-right">
            <div><h1 data-th-text="#{messages.set.create_new}">Create a new set</h1></div>
            <div class="blue-row"><button id="submitButton" class="blue-row-button" type="button" aria-label="[[#{messages.create}]]" onclick=""><span data-th-text="#{messages.create}">Create</span></button></div>
        </div>


        <div aria-hidden="true">
            <form method="post" id="set-form" data-th-action="@{/draft/{id}(id=${(payload != null ? payload.id() : draft.id())})}">

                <div class=""><div class="textarea-description"><span
                    th:if="${payload?.title() != null && payload?.title() !=''}"
                    th:text="#{messages.set.create.t}"
                    th:data-message="#{messages.set.create.t}">&nbsp;</span><span
                    th:if="${payload?.title()== null || payload?.title() ==''}"
                    th:data-message="#{messages.set.create.t}">&nbsp;</span><input
                    id="field-title" type="text" name="title" maxlength="255" value=""
                    th:value="${payload?.title()}"
                    th:placeholder="#{messages.set.create.et}"
                    th:aria-label="#{messages.set.create.t}"
                    th:data-message="#{messages.set.create.j.et}"></div></div><br>
                <div class=""><div class="textarea-description"><span
                    th:if="${payload?.description() != null && payload?.description() !=''}"
                    th:text="#{messages.set.create.d}"
                    th:data-message="#{messages.set.create.d}">&nbsp;</span><span
                    th:if="${payload?.description() == null || payload?.description() ==''}"
                    th:data-message="#{messages.set.create.d}">&nbsp;</span>
                    <textarea id="field-description" name="description"
                          th:text="${payload?.description()}"
                          th:placeholder="#{messages.set.create.ed}"
                          th:aria-label="#{messages.set.create.d}"
                          th:data-message="#{messages.set.create.j.ad}"></textarea></div>
                </div>
                <input type="hidden" id="field-term-language" name="termLanguageId" value=""
                   th:value="${payload!= null ? payload.termLanguageId() : ''}"
                   th:data-message="#{messages.set.create.j.atl}">

                <input type="hidden" id="field-description-language" name="descriptionLanguageId" value=""
                   th:value="${payload!= null ? payload.descriptionLanguageId() : ''}"
                   th:data-message="#{messages.set.create.j.adl}">
                <input type="hidden" id="field-terms" name="terms" value=""
                    th:data-message="#{messages.set.create.j.ats}">


                <input type="hidden" id="field-id" name="id" value="" th:value="${payload != null ? payload.id() : draft?.id()}">





                <div class="container-left-right transp-row">
                    <div class="transp-button" id="overlay_show_button" th:data-draft-id="${payload?.id() ?: draft?.id()}">
                        <span class="transp-row-button-img" ><img width="20" src="/images/import.png" th:alt="#{messages.set.create.import}" />[[#{messages.set.create.import}]]</span>
                    </div>
                </div>




                <div id="field-error" class="field-error"
                 th:attr="style=${errors} ? 'display:block;' : ''"
                 th:data-message="#{messages.set.create.j.yn}">
                <div th:if="${errors}" >
                    <div style="display: block;" th:each="error:${errors}" th:text="${error.message}"></div>&nbsp;
                </div>
            </div>



                <div id="terms-description-area"
                     th:data-base-placeholder="#{messages.set.create.placeholder} "
                     th:data-term-placeholder="#{messages.set.create.term_placeholder}"
                     th:data-description-placeholder="#{messages.set.create.description_placeholder}"
                     th:data-term-text="#{messages.set.create.te}"
                     th:data-descr-text="#{messages.set.create.de}"
                     th:data-language-text="#{messages.set.create.cl}">

                    <div class="blue-row-margin" th:if="${draft != null and draft?.terms != null and #lists.size(draft.terms) > 0 and draft.terms[0] != null }"
                        th:each="term, iter : ${draft.terms}">
                        <div class="">
                            <div class="container-left-right blue-row" >
                                <div class="term-block">
                                    <div class="term-input" th:id="'term'+${iter.index}"
                                        th:data-base-placeholder="#{messages.set.create.placeholder} "
                                        th:data-placeholder="#{messages.set.create.term_placeholder}"
                                        data-placeholder-class="term-placeholder"
                                        contenteditable="true"><p th:text="${term?.term}"><br></p></div><hr>
                                    <div class="container-left-right">
                                        <span class="term" th:text="#{messages.set.create.te}">TERM</span>
                                        <span th:if="${iter.index==0}"><span data-language="term" id="language-button-term" class="language-button"
                                                                 th:text="#{messages.set.create.cl}" >CHOOSE LANGUAGE</span></span>
                                    </div>
                                </div>
                                <div class="term-block">
                                    <div class="term-input" th:id="'description'+${iter.index}"
                                       th:data-base-placeholder="#{messages.set.create.placeholder} "
                                       th:data-placeholder="#{messages.set.create.description_placeholder}"
                                       data-placeholder-class="description-placeholder"
                                       contenteditable="true"><p th:text="${term?.description}"><br></p></div><hr>
                                    <div class="container-left-right">
                                        <span class="term" th:text="#{messages.set.create.de}">DESCRIPTION</span>
                                        <span th:if="${iter.index==0}"><span data-language="description" id="language-button-description"  class="language-button"
                                                                 th:text="#{messages.set.create.cl}">CHOOSE LANGUAGE</span></span>
                                 </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="blue-row-margin" th:each="i : ${draft != null and #lists.size(draft?.terms) > 0 and draft.terms[0] != null ? #numbers.sequence(#lists.size(draft.terms), #lists.size(draft.terms) + 2) : #numbers.sequence(0, 2)}">
                        <div class="" >
                            <div class="container-left-right blue-row" >
                                <div class="term-block">
                                    <div class="term-input term-placeholder" th:id="'term'+${i}"
                                        th:data-base-placeholder="#{messages.set.create.placeholder} "
                                        th:data-placeholder="#{messages.set.create.term_placeholder}"
                                        data-placeholder-class="term-placeholder"
                                        contenteditable="true"></div><hr>
                                    <div class="container-left-right">
                                        <span class="term" th:text="#{messages.set.create.te}">TERM</span>
                                        <span th:if="${i==0}"><span data-language="term" id="language-button-term" class="language-button"
                                                        th:text="#{messages.set.create.cl}" >CHOOSE LANGUAGE</span></span>
                                    </div>
                                </div>
                                <div class="term-block">
                                    <div class="term-input description-placeholder" th:id="'description'+${i}"
                                        th:data-base-placeholder="#{messages.set.create.placeholder} "
                                        th:data-placeholder="#{messages.set.create.description_placeholder}"
                                        data-placeholder-class="description-placeholder"
                                        contenteditable="true"><br></div><hr>
                                    <div class="container-left-right">
                                        <span class="term" th:text="#{messages.set.create.de}">DESCRIPTION</span>
                                        <span th:if="${i==0}"><span data-language="description" id="language-button-description"  class="language-button"
                                                                th:text="#{messages.set.create.cl}">CHOOSE LANGUAGE</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="main-right">&nbsp;</div>
</div>


<div th:insert="~{fragment::language-menu}"></div>


<div class="textarea-import overlay" id="overlay">
    <div class="content">



        <div class="container-left-right">
            <div><h3 style="text-align: left" th:text="#{messages.set.create.import.h}"></h3></div>
            <div class="transp-button" id="overlay_hide_button" >
                <span class="transp-row-button-img" ><img width="20" src="/images/close.png" th:alt="#{messages.set.create.import.close}" />[[#{messages.set.create.import.close}]]</span>
            </div>
        </div>


        <div id="field-import-error" class="field-error"></div>


        <form>
        <textarea  id="field-import" name="import"
               th:text="${payload?.description()}"
               th:placeholder="#{messages.set.create.import.div.placeholder}"
               th:aria-label="#{messages.set.create.import}"
               ></textarea>
        <div style="display: flex">
            <div style="text-align: left; margin-right: 20px">
                <h3 style="text-align: left" th:text="#{messages.set.create.import.colSeparator}"></h3>
                <div aria-label="[[#{messages.set.create.import.colSeparator}]]" style="display: block">
                    <div><label for="import-radio-tab">
                        <input id="import-radio-tab" type="radio" name="col-separator" value="tab" checked=""><span>Tab</span></label></div>
                    <div><label for="import-radio-comma">
                        <input id="import-radio-comma" type="radio" name="col-separator" value="comma"><span>Comma</span></label></div>
                    <div><label for="import-radio-custom1">
                        <input id="import-radio-custom1" type="radio" name="col-separator" value="custom">
                        <label><input class="input2" name="col-custom" aria-label="Custom" placeholder="-" type="text" value="-"></label></label></div>
                </div>
            </div>


            <div style="text-align: left">
                <h3 th:text="#{messages.set.create.import.rowSeparator}"></h3>
                <div aria-label="[[[[#{messages.set.create.import.colSeparator}]]]]" style="display: block">
                    <div><label for="import-radio-newline">
                        <input id="import-radio-newline" type="radio" name="row-separator" value="newline" checked=""><span>New line</span></label></div>
                    <div><label for="import-radio-semicolon">
                        <input id="import-radio-semicolon" type="radio" name="row-separator" value="semicolon">
                        <span>Semicolon</span></label></div>
                    <div><label for="import-radio-custom2">
                        <input id="import-radio-custom2" type="radio" name="row-separator" value="custom">
                        <label><input class="input2" name="row-custom" aria-label="Custom" placeholder="\n\n" type="text" value="\n\n"></label>
                    </label></div>
                </div>
            </div>
        </div>
        </form>

        <div class="container-right">
            <div class="transp-button" id="overlay_clear_button">
                <span class="transp-row-button-img" ><img width="20" src="/images/clear.png" th:alt="#{messages.set.create.import.clear}" />[[#{messages.set.create.import.clear}]]</span>
            </div>
            <div class="transp-button" id="overlay_import_button">
                <span class="transp-row-button-img" ><img width="20" src="/images/import.png" th:alt="#{messages.set.create.import}" />[[#{messages.set.create.import}]]</span>
            </div>
        </div>

        <div id="field-import-preview" class="import-preview" th:data-term="#{messages.set.create.te}" th:data-description="#{messages.set.create.de}">


        </div>





    </div>
</div>

</body>
</html>



















