<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="header-menu">
    <div class="container-left-right blue-row ">
        <a class="blue-row-a-img" th:href="@{/user/{userId}/folders(userId=${user.id})}"><img width="20" src="/images/folders.png" th:alt="#{messages.folder.folders_my}" />[[#{messages.folder.folders}]]</a>
        <a class="blue-row-a-img" th:href="@{/user/create-folder}"><img width="20" src="/images/add-folder.png" th:alt="#{messages.folder.create}" />[[#{messages.folder.create}]]</a>
        <a class="blue-row-a-img" th:href="@{/user/{userId}/sets(userId=${user.id})}"><img width="20" src="/images/sets.png" th:alt="#{messages.set.sets_my}" />[[#{messages.set.sets}]]</a>
        <a class="blue-row-a-img" th:href="@{/create-set}"><img width="20" src="/images/add-set.png" th:alt="#{messages.set.create}" />[[#{messages.set.create}]]</a>
        <div>
            <form action="">
                <select name="lang" onchange="this.form.submit()">
                    <option th:each="al : ${avLangs}"
                            th:value="${al.key}"
                            th:text="${al.value}"
                            th:selected="${curLang==al.key}"></option>
                </select>
            </form>
        </div>
    </div>
</div>

<div th:fragment="language-menu">
    <div class="language-menu-outer" >
        <div role="listbox" tabindex="-1">
            <div th:if="${myLanguages != null and (!myLanguages.isEmpty())}">
                <div><h6 th:text="#{messages.set.create.yl}">Your Languages</h6></div>
                <div th:each="myLanguage: ${myLanguages}" class="language-select-option" role="option"
                     th:text="${myLanguage.value}"></div>
            </div>
            <div th:if="${topLanguages != null and (!topLanguages.isEmpty())}">
                <div><h6 th:text="#{messages.set.create.tl}">Top Languages</h6></div>
                <div th:each="topLanguage: ${topLanguages}" class="language-select-option" role="option"
                     th:text="${topLanguage.value}"></div>
            </div>
            <div th:if="${languages != null and (!languages.isEmpty())}">
                <div><h6 th:text="#{messages.set.create.al}">All Languages</h6></div>
                <div th:each="language: ${languages}" class="language-select-option" role="option"
                     th:text="${language.value}"></div>
            </div>
        </div>
</div>
</body>
</html>