<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle} ?: 'BrainDeck'"></title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/set.js" defer></script>
</head>

<body>
    <div class="main">
        <aside class="main-left"></aside>
        <div class="main-center">
            <div th:replace="~{fragments/header-menu::header-menu}"></div>
            <header>
                <div class="container-left-right">
                    <h1 th:text="${set.title}"></h1>
                    <div class="set-actions">
                        <div class="blue-row margin-left">
                            <a class="blue-row-a-img" th:href="@{/set/{id}/edit(id=${set.id})}">
                                <img width="20" src="/images/edit-set.png" th:alt="#{messages.set.es}" />[[#{messages.set.es}]]</a>
                        </div>
                        <div class="blue-row margin-left">
                            <form method="post" data-th-action="@{/set/{id}/delete(id=${set.id})}"><button class="blue-row-button-img" type="submit" ><img width="20" height="20" src="/images/delete-set.png" th:alt="#{messages.set.es}" />[[#{messages.set.ds}]]</button></form>
                        </div>
<!--                                        <div class="blue-row"><a class="blue-row-a-img" th:href="@{/set/{id}/edit(id=${set.id})}"><img width="20" src="/images/delete-set.png" alt="Edit a set" />Delete a set</a></div>-->
                    </div>
                </div>
                <div class="set-pre-title">
                    <span th:text="|${set.terms.size()} #{messages.set.terms}|">? Terms</span>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <img class="circle_image" src="/images/avatar.jpg" th:alt="${set.userName}" />
                    <a th:href="@{/user/{userId}/sets(userId=${set.userId})}"
                       th:text="${set.userName}">Unknown User</a>
                </div>
                <div class="set-description" th:text="${set.description}"></div>
            </header>
            <main>
                <section>
                    <article class="blue-row blue-row-set blue-row-margin" th:each="term: ${set.terms}">
                        <div class="term-index term-index--center"></div>
                        <div th:text="${term.term}"></div>
                        <div class="separator">|</div>
                        <div th:text="${term.description}"></div>
                    </article>
                </section>
            </main>
            <footer>
                © 2026
            </footer>
        </div>
        <aside class="main-right"></aside>
    </div>

</body>
</html>