<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="#{messages.sets}"></title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
<body>
    <div class="main">
        <div class="main-left">&nbsp;</div>
        <div class="main-center">
            <div th:insert="~{fragments/fragment::header-menu}"></div>
            <div><h1 th:text="#{messages.sets}">My Library</h1></div>
            <div>
                <div id="field-error" class="field-error display-none"> </div>
                <div class="blue-row blue-row-margin blue-row-sets" th:each="set: ${sets}">
                    <div class="set-pre-title">
                        <span th:text="|${set.termCount} #{messages.set.terms}|"></span>
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                        <img class="circle_image" src="/images/avatar.jpg" th:alt="${set.userName}" />
                        <a th:href="@{/user/{userId}/sets(userId=${set.userId})}" th:text="${set.userName}">Unknown User</a>
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                        <span th:text="|${set.updatedAt}|"></span>
                    </div>
                    <div><h2><a th:href="@{/user/{userId}/set/{setId}(
                           userId=${set.userId},
                           setId=${set.id}
                           )}"
                                th:text="${set.title}"></a></h2></div>
                    <div th:text="${set.description}"></div>
                </div>
            </div>
        </div>
        <div class="main-right">&nbsp;</div>
    </div>
</body>
</html>