<div th:fragment="language-menu" th:if="${languages != null and !languages.isEmpty()}">
    <div id="language-menu" class="language-menu-outer" >
        <div role="listbox" tabindex="-1">
            <div th:if="${myLanguages != null and (!myLanguages.isEmpty())}">
                <div><h6 th:text="#{messages.set.create.yl}">Your Languages</h6></div>
                <div language-menu-option th:each="myLanguage: ${myLanguages}" class="language-select-option" role="option"
                     th:data-key="${myLanguage.key}" th:text="${myLanguage.value}"></div>
            </div>
            <div th:if="${topLanguages != null and (!topLanguages.isEmpty())}">
                <div><h6 th:text="#{messages.set.create.tl}">Top Languages</h6></div>
                <div language-menu-option th:each="topLanguage: ${topLanguages}" class="language-select-option" role="option"
                     th:data-key="${topLanguage.key}" th:text="${topLanguage.value}"></div>
            </div>
            <div th:if="${languages != null and (!languages.isEmpty())}">
                <div><h6 th:text="#{messages.set.create.al}">All Languages</h6></div>
                <div language-menu-option th:each="language: ${languages}" class="language-select-option" role="option"
                     th:data-key="${language.key}" th:text="${language.value}"></div>
            </div>
        </div>
    </div>
</div>