<div data-term-row
     th:fragment="termBlock(term, index, termErrors, classAppend)"
     class="blue-row"
     th:classappend="${classAppend}"

     th:data-id="${term?.id }"
     th:data-new="${term == null}"
     th:data-error-class="blue-row-err"

     th:with="
  hasTermError=${termErrors != null and termErrors.containsKey('term')},
  hasDescError=${termErrors != null and termErrors.containsKey('description')}
"
>
    <div class="container-left-right">
        <div class="term-index"></div>
        <div class="field-error display-none"
             th:id="'error-term-row' + ${index}"
        ></div>
        <div data-delete-term-row-button th:data-error-id="'error-term-row' + ${index}" class="delete-term-row-button"><img width="30" src="/images/delete-term.png" th:alt="#{messages.term.delete}" /></div>
    </div>
    <div class="container-left-right-bottom " >
        <div class="term-block">
            <div
                    contenteditable="true"
                    class="term-input placeholder"
                    th:data-base-placeholder="#{messages.set.create.placeholder} "
                    th:data-placeholder="#{messages.set.create.term_placeholder}"
                    th:data-error-id="'error-term-' + ${index}"
                    data-type="term"

                    th:id="'term'+${index}"
<!--                    th:classappend="${term == null || term?.term == ''} ? 'term-placeholder'"-->
<!--                    data-placeholder-class="term-placeholder"-->
            ><p
                    th:if="${term != null}"
                    th:text="${term?.term}"><br></p></div><hr>
            <div class="container-left-right" data-span-container="term">
                <span class="term" th:text="#{messages.set.create.te}">TERM</span>
                <span th:if="${index == 0}"><span data-language-type="term"
                                                  id="language-button-term"
                                                  class="language-button"
                                                  th:data-error-class="language-button-err"
                                                  th:text="${extra?.termLangName} ?: #{messages.set.create.cl}" >CHOOSE LANGUAGE</span></span>
            </div>
            <div class="field-error right"
                 th:id="error-term-language-id"
                 th:style="${#fields.hasErrors('termLanguageId')} ? '' : 'display:none;'"
                 th:if="${index == 0}"><span style="display:block;"
                                             th:if="${#fields.hasErrors('termLanguageId')}"
                                             th:errors="*{termLanguageId}"></span>
            </div>
            <div class="field-error"
                 th:id="'error-term-' + ${index}"
                 th:text="${hasTermError ? termErrors['term'] : ''}"
                 th:classappend="${hasTermError} ? '' : 'display-none'"
            >
            </div>
        </div>
        <div class="term-block">
            <div
                    contenteditable="true"
                    class="term-input placeholder"
                    th:data-base-placeholder="#{messages.set.create.placeholder} "
                    th:data-placeholder="#{messages.set.create.description_placeholder}"
                    th:data-error-id="'error-description-' + ${index}"
                    data-type="description"

                 th:id="'description'+${index}"
<!--                 th:classappend="${term == null || term?.description == ''} ? 'description-placeholder'"-->
<!--                 data-placeholder-class="description-placeholder"-->
            ><p
                    th:if="${term != null}"
                    th:text="${term?.description}"><br></p></div><hr>
            <div class="container-left-right" data-span-container="description">
                <span class="term" th:text="#{messages.set.create.de}">DESCRIPTION</span>
                <span th:if="${index == 0}"><span data-language-type="description"
                                                  id="language-button-description"
                                                  class="language-button"
                                                  th:data-error-class="language-button-err"
                                                  th:text="${extra?.descriptionLangName} ?: #{messages.set.create.cl}">CHOOSE LANGUAGE</span></span>
            </div>
            <div class="field-error right"
                 th:id="error-description-language-id"
                 th:style="${#fields.hasErrors('descriptionLanguageId')} ? '' : 'display:none;'"
                 th:if="${index == 0}"><span style="display:block;"
                                             th:if="${#fields.hasErrors('descriptionLanguageId')}"
                                             th:errors="*{descriptionLanguageId}"></span>
            </div>
            <div class="field-error"
                 th:id="'error-description-'+${index}"
                 th:text="${hasDescError ? termErrors['description'] : ''}"
                 th:classappend="${hasDescError} ? '' : 'display-none'"
            >
            </div>
        </div>
    </div>

</div>
